<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type='text/css' href='/css/jass.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href='/css/style.css'>
</head>

<body class="ml-3">
    <header class='jumbotron bg-success mb-0'>
        <h1>Welcome to the Tech Blog!</h1>
    </header>
    {{> navbar}}
    <main>
        <div class='blogs'>
            {{{body}}}
        </div>
    </main>
    {{#if logged_in}}
    <script src='/js/logout.js'></script>
    {{/if}}


</body>

</html>