<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type='text/css' href='/css/jass.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href='/css/style.css'>
</head>

<body>
    <header>
        <h1>Welcome to the Tech Blog!</h1>
    </header>
    {{> navbar}}
    {{!-- <nav>
        <a href="/">Homepage</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <button id='logout' class='btn-no-style'>Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav> --}}
    <main>
        <div class='blogs'>
            {{{body}}}
        </div>
    </main>
    {{#if logged_in}}
    <script src='/js/logout.js'></script>
    {{/if}}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>