{{#each posts as |post|}}
<div class="row m-3">
    <div class="card col-md-5">
        <a class='card-header bg-primary' href="/post/{{post.id}}"><h3>{{post.title}}</h3></a>
        <p class='card-text'>Posted by {{user.username}} on {{format_date post.updatedAt}}</p>
    </div>
</div>
{{/each}}