<div class="text-center">
    <h2>Original Title</h2>
    <h3>{{post.title}}</h3>
    <h2>Original Content</h2>
    <p>{{post.content}}</p>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <h4>Update Blog Post</h4>

        <form class="form update-post-form">
            <div class="form-group">
                <label for="post-title">Title:</label>
                <input class='form-input' type='text' id='post-title' name='post-title' />
            </div>
            <div class='form-group'>
                <label for='post-content'>Content:</label>
                <textarea class='form-input' type='text' id='post-content' name='post-content'></textarea>
            </div>
            <div class='form-group'>
                <button type='submit' id='submit-btn' class='btn btn-primary' data-id='{{post.id}}'>Update Blog Post</button>
            </div>
        </form>
</div>

<script src='/js/updatePost.js'></script>